@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ic-edit {
  margin-left: 6px;
}
.log-page {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 2px solid gray;
  background-image: url("/bg-log.jpg");
  background-position: center;
  background-size: cover;
}

.bx-log {
  max-width: 500px;
  min-width: 200px;
  width: 100%;
  /* Ensures it takes full width within its container */
}

.text-log {
  background: linear-gradient(
    to right,
    #5335cf,
    #de005e,
    #f66e48,
    #de005e,
    #5335cf
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.bx-log {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  background-color: rgba(255, 255, 255, 0.404);
}

.dash-img {
  margin-top: 15x;
  margin-left: 20px;
  width: 50px;
  height: 40px;
}

.dash-avt {
  width: 50px;
  height: 40px;
  margin-left: 8px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  --light: #ffffffd0;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --light-green: #d8f8c4;
  --green: #65e913;
  --light-sky: #c4f8ec;
  --sky: #13e9b4;
  --light-redness: #f8c4d7;
  --redness: #e91357;
  --light-blueness: #c4d9f8;
  --blueness: #13b4e9;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
  display: none;
}

#sidebar.hide {
  width: 60px;
}

#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 20px;
}

.tptp {
  text-decoration: none;
}

#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: -18px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
  color: var(--blue);
}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}

#sidebar .side-menu li a.logout {
  color: var(--red);
}

#sidebar .side-menu.top li a:hover {
  color: var(--blue);
}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

/* SIDEBAR */

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}

#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */
#content nav {
  height: 56px;
  margin-left: -15px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

#content nav a {
  color: var(--dark);
}

#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}

#content nav .nav-link:hover {
  color: var(--blue);
}

#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}

#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

/* NAVBAR */

/* MAIN */
#content main {
  width: 100%;
  padding: 10px 8px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li {
  color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}

#content main .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}

#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

#content main .box-info li {
  padding: 24px;
  background: rgb(245, 243, 243);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}

#content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content main .box-info li:nth-child(1) .bx {
  background: var(--light-blue);
  color: var(--blue);
}

#content main .box-info li:nth-child(2) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
}

#content main .box-info li:nth-child(3) .bx {
  background: var(--light-orange);
  color: var(--orange);
}

#content main .box-info li:nth-child(4) .bx {
  background: var(--light-green);
  color: var(--green);
}

#content main .box-info li:nth-child(5) .bx {
  background: var(--light-sky);
  color: var(--sky);
}

#content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

#content main .box-info li .text p {
  color: var(--dark);
}

#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

#content main .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

#content main .table-data .head .bx {
  cursor: pointer;
}

#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}

#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

#content main .table-data .order table td {
  padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

#content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

#content main .table-data .order table tbody tr:hover {
  background: var(--grey);
}

#content main .table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

#content main .table-data .order table tr td .status.completed {
  background: var(--blue);
}

#content main .table-data .order table tr td .status.pending {
  background: var(--orange);
}

#content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}

#content main .table-data .todo .todo-list {
  width: 100%;
}

#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
}

#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}

#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}

#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }

  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }

  #content main .table-data .order table {
    min-width: 420px;
  }

  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}

/* frontend */
.bannerlayers {
  font-size: 20px;
}
.bannerlayers p {
  font-size: 28px;
  color: #595b5c;
  line-height: 1.3;
  font-weight: 300;
  max-width: 500px;
}
@media only screen and (max-width: 991px) {
  .bannerlayers p {
    max-width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 1px 2px 10px rgba(0, 0, 0, 0.15);
  }
}
@media only screen and (max-width: 400px) {
  .herobnrlgtxt,
  .herobnrlgtxt strong {
    font-size: 20px;
    padding-right: 10%;
  }
  .bannerlayers p {
    padding-right: 20%;
    font-size: 15px;
  }
}
@media only screen and (max-width: 450px) {
  .bannerlayers h2 {
    font-size: 16px;
    margin: 0 0 5px;
  }
}
.main-ban {
  border: 1px solid rgb(224, 244, 246);
  background-image: url("/main-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}
@media (max-width: 768px) {
  .main-ban {
    height: 450px;
  }
}
.herobnrlgtxt {
  font-size: 30px !important;
}
.herobnrlgtxt strong {
  color: #40a297;
  font-size: 32px !important;
}
.herobnrlgtxt {
  font-family: "DM Sans", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  padding: 0 0 15px;
}
@media only screen and (max-width: 767px) {
  .bannerlayers p {
    font-size: 16px;
  }
}
.bannerlayers h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  padding: 15px 0 0;
}
.herologos {
  display: flex;
  grid-column-gap: 10px;
  padding: 12px 0 0;
}
.herologos a {
  color: #0d6efd;
  text-decoration: underline;
}
@media only screen and (max-width: 767px) {
  .hmbanner img {
    /* min-height: 300px; */
    object-fit: cover;
    object-position: left;
  }
}

/* nav css */
/* styles/global.css */

.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #40a297;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  left: 0;
  bottom: -2px;
  background: currentColor;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
  color: #40a297 !important;
}

.nav-link:hover {
  color: #40a297 !important;
}

/* about */
.hmbaout {
  float: left;
  width: 100%;
  margin: 75px 0;
}
@media only screen and (max-width: 991px) {
  .hmaboutexts {
    padding-top: 0;
    padding-right: 0;
  }
}
.hmaboutexts {
  position: relative;
  padding-right: 20px;
  padding-top: 10px;
}
@media only screen and (max-width: 767px) {
  .hmaboutexts h2 {
    font-size: 28px;
  }
}
.hmaboutexts h2 {
  font-family: "DM Sans", sans-serif;
  line-height: 1.2;
  font-weight: 600;
  color: #3f4040;
  font-size: 45px;
  margin: 0 0 15px;
}
.hmaboutexts p {
  font-size: 18px;
  line-height: 1.65;
  color: #444;
}
.hmaboutexts h2 span {
  display: block;
  color: #40a297;
}
.hmaboutexts p.textinfo {
  color: #a18012;
}
@media only screen and (max-width: 600px) {
  .hmaboutexts p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 991px) {
  .ordersm-1 {
    order: -1;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .ordersm-1 img {
    width: 100%;
  }
}

/* footer */
footer.hmartsectn {
  padding: 40px 0 0;
}
.hmartsectn {
  float: left;
  position: relative;
  width: 100%;
  background: #619da7;
  padding: 60px 0 80px;
}
footer {
  margin: 130px 0 0;
}
.footermiddle {
  float: left;
  width: 100%;
  margin: 30px 0 0;
  position: relative;
}
.footerow {
  position: relative;
  margin: 0 -10px;
}
.footerow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .footerow {
    justify-content: flex-start;
  }
}
.footerboxtop {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footerboxtop .footerboxcontent {
  max-width: 70%;
  order: 1;
}
.footerboxcontent span {
  display: block;
  font-size: 28px;
  color: #fff;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}
@media only screen and (max-width: 991px) {
  .footerboxtop {
    flex-wrap: wrap;
  }
  .footerboxtop .footerboxcontent {
    order: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .footerboxcontent span {
    font-size: 20px;
  }
  .footerboxtop .footerleftlogo {
    width: 100%;
    padding-top: 35px;
  }
  .footerlinks,
  .socialboxcols {
    width: 100%;
  }
  .footerlinks ul li a {
    font-size: 16px !important;
    margin: 0 0 5px;
  }
  .contactcols {
    width: 100%;
    padding-top: 20px;
  }
  .contactcols > div {
    font-size: 16px;
    margin: 0 0 15px;
  }
  .socialboxcols {
    padding: 20px 0 0;
  }
  .footerlinks,
  .socialboxcols {
    width: 100%;
  }
  .copyrightbtm {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .footerboxtop .footerleftlogo {
    text-align: center;
  }
  .footerleftlogo img {
    max-width: 200px;
    border-radius: 5px;
  }
  .footerow .footerbox {
    padding-top: 40px !important;
  }
  .ftrlinks {
    text-align: center;
    padding-bottom: 10px;
  }
}

.footerboxtop .footerleftlogo {
  float: left !important;
  width: 30% !important;
}
.footerleftlogo img {
  background: rgba(255, 255, 255, 0.3);
  max-width: 255px;
  display: inline-block;
  padding: 10px 20px;
}
.footerow .footerbox {
  width: 100% !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-top: 65px !important;
  justify-content: space-between !important;
}
.footerlinks,
.socialboxcols {
  width: 100%;
}
.footerlinks ul {
  display: flex;
  flex-wrap: wrap;
}
.footerlinks ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footerlinks ul li {
  width: 50%;
  margin-bottom: 10px;
}
.footerlinks ul li {
  display: block;
}

.contactcols h4,
.socialboxcols h4 {
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.contactcols > div {
  color: #fff;
  font-size: 18px;
  display: flex;
  gap: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.contactcols > div span.fa {
  font-size: 20px;
  padding-right: 5px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.contactcols > div span.fa {
  font-size: 20px;
  padding-right: 5px;
}

.contactcols h4,
.socialboxcols h4 {
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .socialicons:last-child {
    margin-top: 20px;
  }
}
.socialicons {
  display: flex;
  align-items: flex-start;
  grid-column-gap: 10px;
}
.socialicons a span {
  font-size: 0;
}
.socialicons a.fb {
  background: #1877f2;
}
.socialicons a.instagram {
  background-color: #f6166f;
}
.socialicons a.twitter {
  background: #1da1f3;
}
.socialicons a.linkedin {
  background: #0176b4;
}
.socialicons a.youtube {
  background: #fe1101;
}
.socialicons span,
.socialicons div {
  font-size: 12px;
  color: #fff;
}

.socialicons a {
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 3px;
  border-radius: 50%;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .footercopyright {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.copyrightbtm {
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.ftrlinks {
  color: #fff;
}
.copyrightbtm .footerlinkblk {
  display: inline-block;
  font-size: 14px;
  color: #fff;
}
.copyrightbtm .ftrlinks a {
  display: inline-block;
  margin: 0 5px;
  color: #fffefe;
  text-decoration: none;
  font-size: 16px;
}
@media only screen and (max-width: 767px) {
  .sitedeveloppedby {
    margin: auto;
    text-align: center;
  }
}
.sitedeveloppedby {
  color: #fff;
  font-size: 16px;
}
.sitedeveloppedby a {
  color: #fff;
}
@media only screen and (max-width: 767px) {
  footer {
    background-size: auto;
  }
}
@media only screen and (max-width: 1200px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 96%;
  }
}
@media only screen and (max-width: 991px) {
  .footerboxcontent h2 {
    font-size: 36px !important;
  }
}
.footerboxcontent h2 {
  display: block !important;
  font-size: 42px !important;
  color: #fff !important;
  font-family: "DM Sans", sans-serif !important;
  font-weight: 600 !important;
  line-height: 1.2 !important;
}
@media only screen and (max-width: 991px) {
  .footerboxtop .footerleftlogo {
    width: 100% !important;
    padding-top: 35px !important;
  }
}
@media only screen and (max-width: 767px) {
  .footerleftlogo img {
    max-width: 200px;
    border-radius: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .footerow .footerbox {
    padding-top: 40px !important;
  }
}
.footerlinks ul li a {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.footerlinks ul li a {
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  margin: 0 0 10px;
}

.footercopyright {
  float: left;
  margin-top: 90px;
  width: 100%;
  background: #22504b;
  padding: 18px 0;
}

/* box content */
.hmartsectn {
  float: left;
  position: relative;
  width: 100%;
  background: #619da7;
  padding: 60px 0 80px;
}
.hmartsectn::before {
  background: url(/sectionbg.png) no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  aspect-ratio: 15.5 / 2;
  object-fit: cover;
  display: block;
  width: 100%;
  min-height: auto;
}
.hmartsectn > .container {
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 575px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.mb-30 {
  margin-bottom: 30px;
}
.homecommonhead {
  font-family: "DM Sans", sans-serif;
  line-height: 1.2;
  font-weight: 600;
  color: #3f4040;
  font-size: 45px;
  margin: 0 0 15px;
}
@media only screen and (max-width: 767px) {
  .homecommonhead {
    font-size: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .homecommonhead {
    font-size: 36px;
  }
}
.homecommonhead span {
  display: block;
  color: #40a297;
}
.text-white {
  color: #fff !important;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
@media only screen and (max-width: 767px) {
  .right_tagtxts {
    text-align: left;
    margin: -30px 0 25px;
  }
}
.right_tagtxts {
  font-size: 20px;
  line-height: 1.4;
  text-align: right;
}
@media only screen and (max-width: 767px) {
  .right_tagtxts span {
    display: inline-block;
  }
}
.right_tagtxts span {
  display: block;
}
.textparagraph {
  padding-right: 5%;
}
@media only screen and (max-width: 767px) {
  .hmartsectn p {
    font-size: 18px;
    margin: 0 0 20px;
  }
}
.hmartsectn p {
  font-size: 20px;
  line-height: 1.7;
  color: #fff;
}
.micpicture {
  position: absolute;
  right: 3%;
  bottom: 0;
  max-width: 100px;
}

/* homlog */
.hmlogos {
  float: left;
  margin-top: 50px;
  width: 100%;
  position: relative;
}
.bluredbg4 {
  position: absolute;
  left: -50px;
  bottom: 0;
  width: 15%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #f4c4b7;
  filter: blur(100px);
  z-index: -1;
}
.bluredbg5 {
  position: absolute;
  left: 70%;
  bottom: -30px;
  width: 22%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #f4c4b7;
  filter: blur(90px);
  z-index: -1;
  transform: translateX(-50%);
}
.row.spacebetween {
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .homecommonhead {
    font-size: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .homecommonhead {
    font-size: 36px;
  }
}
.homecommonhead {
  font-family: "DM Sans", sans-serif;
  line-height: 1.2;
  font-weight: 600;
  color: #3f4040;
  font-size: 45px;
  margin: 0 0 15px;
}
.homecommonhead span {
  display: block;
  color: #40a297;
}
@media only screen and (max-width: 991px) {
  .hmaboutexts {
    padding-top: 0;
    padding-right: 0;
  }
}
.hmaboutexts {
  position: relative;
  padding-right: 20px;
  padding-top: 10px;
}
.hmaboutexts p {
  font-size: 18px;
  line-height: 1.65;
  color: #444;
}
@media only screen and (max-width: 600px) {
  .hmaboutexts p {
    font-size: 16px;
  }
}
.hmaboutexts p.textinfo {
  color: #a18012;
}
@media only screen and (max-width: 767px) {
  .logogroups {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .logogroups {
    padding-top: 20px;
    justify-content: flex-start;
  }
}
.logogroups {
  height: 100%;
  position: relative;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.pic-about {
  background-image: linear-gradient(to right, teal, purple, orange);
  border-radius: 15px;
  overflow: hidden;
}
.pic-about:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* events Page */
.come-soon {
  display: grid;
  justify-content: center;
  place-items: center;
  color: #40a297;
  min-height: 300px;
  font-size: calc(1.9vw + 1rem);
  max-height: 450px;
}
@media only screen and (width: 601px) {
  .come-soon {
    max-height: 350px;
  }
}

/* contact form */
.contact-back {
  background-image: url("https://colorlib.com/etc/regform/colorlib-regform-23/images/bg-registration-form-7.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 0px;
}
.contact-inner {
  background: #39459b;
  border: 10px solid #0d99d7;
  padding: 40px !important;
  margin-top: 40px;
}
.txt-ct {
  text-transform: uppercase;
  font-family: sans-serif;
  color: #fff;
  margin-bottom: 12px;
}
.txt-lb {
  color: #00ade6;
}
.sub:hover {
  background-color: #42a8a8;
}

/* swiper */
.hmpromotional {
  float: left;
  width: 100%;
  padding: 75px 0;
  position: relative;
}
.bluredbg1 {
  position: absolute;
  right: 0;
  top: -70px;
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #83d3fb;
  filter: blur(50px);
  z-index: -1;
}
.bluredbg2 {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 25%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #8dc1da;
  filter: blur(60px);
  z-index: -3;
  left: 60%;
  transform: translateX(-50%);
}
.bluredbg3 {
  position: absolute;
  left: -10px;
  top: 50%;
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: #fe7954;
  filter: blur(70px);
  z-index: -1;
  transform: translateY(-50%);
}
.homecommonhead {
  font-family: "DM Sans", sans-serif;
  line-height: 1.2;
  font-weight: 600;
  color: #3f4040;
  font-size: 45px;
  margin: 0 0 15px;
}

.event-img {
  box-shadow: 10px 10px 10px rgba(127, 126, 126, 0.776);
  border-radius: 18px;
}

.promotionalsitmtext h3 {
  color: #a18012;
  font-size: 28px;
  margin: 0 0 10px;
}
@media only screen and (max-width: 991px) {
  .promotionalsitmtext p {
    font-size: 16px;
  }
}
